$answerTagColor: #FF0000;
$wrongAnswerSignColor: darkred;
$correctAnswerSignColor: green;
$initiumGreen: #31AFBE;

body {
    font-family: "LiHei Pro Medium", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 5px;
    font-size: 2.5em;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background: url(../img/background.png) repeat;

    @media screen and (min-device-width: 1000px) {
        font-size: 2em;
    }

    #Card {

        margin: 0 auto;

        #Banner {
            text-align: center;
            width: 100%;

            #BannerImage {
                width: 100%;
            }
        }

        #QuestionPanel {
            height: 60%;
            padding: 1em 0.1em;
            width: 100%;

            #questionTag {
                font-size: 120%;
                font-weight: 700;
                margin-bottom: 0.5em;
                color: $initiumGreen;
            }

            #questionText {
                line-height: 1.5;
            }

            #OptionPanel {

                .optionBox {
                    margin-top: 1.0em;

                    label {
                        width: 100%;
                        display: block;

                        input[type=checkbox] {
                            transform: scale(2.0);
                            -webkit-transform: scale(2.0);
                            vertical-align: text-top;
                            margin: 1em;
                        }

                        .optionTag {
                            margin-right: 0.5em;
                            color: $answerTagColor;
                        }

                        .optionText {
                            font-size: 1.2em;
                        }

                        .optionTextWithImage {
                            font-size: 0.8em;
                            vertical-align: top;
                            line-height: 1;
                        }

                        .CorrectnessSign {
                            line-height: 100%;
                            font-size: 1.2em;
                        }

                        .optionTextWithImage + .CorrectnessSign {
                            line-height: 100%;
                            font-size: 0.8em;
                            vertical-align: top;
                        }

                        .CorrectnessSign-correct {
                            color: $correctAnswerSignColor;
                        }

                        .CorrectnessSign-wrong {
                            color: $wrongAnswerSignColor;
                        }

                        .optionBoxLeftContainer {
                            float: left;
                            width: 10%;
                            line-height: 0.8;
                        }

                        .optionBoxRightContainer {
                            float: left;
                            width: 60%;
                        }
                    }

                }

                @media screen and (min-width: 1000px) {
                    .optionBox {
                        margin-top: 0.5em;
                    }

                }

                .optionBoxWithImage {
                    display: inline-block;
                    width: 45%;
                    margin-right: 5%;
                }

                .optionBoxWithImageWide {
                    width: 49%;
                    margin-right: 0;
                }
            }

            img.insertImage {
                float: right;
                display: block;
                height: 300px;
            }

            img.insertImageWide {
                position: relative;
                margin-left: 10%;
            }

        }

        #AnswerPanel {
            height: 30%;
            width: 100%;
            padding: 0.2em auto;

            .answerBox {

                .answerInnerBox {
                    text-align: center;
                    font-size: 1.5em;

                    .answerTag {
                        color: $answerTagColor;
                        margin-left: 5px;
                    }

                }

            }

            .ExplanationBox {
                //background: url(../img/ExplanationBox-border.png) no-repeat;
                //background-size: 100% 100%;

                border: 5px solid $initiumGreen;
                padding: 20px 50px;
                margin: 2px;
                text-align: left;
                overflow: hidden;

                .Explanation {
                    line-height: 1.5;
                }

                button#next {
                    font-size: 1em;
                    border: 5px solid $initiumGreen;
                    background: white;
                    margin-left: 1em;
                    border-radius: 5px;
                    float: right;
                }

            }
        }
    }

    #ScorePage {
        margin: 0 auto;
        background-repeat: repeat;
        padding: 5px;

        button.share {
          font-size: 1em;
          display: block;
          width: 12em;
          text-align: center;
          margin-bottom: 0.5em;

          img {
            vertical-align: text-bottom;
          }

        }

        h1 {
            margin-bottom: 0;
        }

        span {
            margin-top: 0.5em;
        }

        #marketingInfobox {
            font-size: 0.6em;
            margin-top: 1em;
        }

    }
}
