body {
    font-family: "LiHei Pro Medium", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
    margin: 0;
    font-size: 2em;
    width: 100%;
    height: 100%;
}

input[type=checkbox] {
    transform: scale(2.0);
    -webkit-transform: scale(2.0);
    vertical-align: text-top;
    margin: 1em;
}

div#Card {
    background-color: #FDD;
    margin: 0 auto;
}

div#questionTag {
    font-size: 120%;
    font-weight: 700;
    margin-bottom: 1em;
}

@media (min-device-width: 1036px) {
    div#Card {
        width: 1036px;
    }
}

div#Banner {
    text-align: center;
}

div#QuestionPanel {
    background-color: navajowhite;
    height: 60%;
    padding: 0.5em auto;
    width: 100%;
}

div#AnswerPanel {
    background-color: #DAEFFF;
    height: 30%;
    width: 100%;
    padding: 0.5em auto;
}

div.optionBox {
    margin-top: 1.5em;
}

span.optionTag {
    margin-right: 0.5em;
}
